<?xml version="1.0" encoding="UTF-8"?>
<!-- 왜 아래 문장이 있으면 파싱이 안되나? -->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd">
<mapper namespace="thahn.java.mapper.EventMapper">
	<select id="selectEvent" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			*
		FROM
			cm_l_event
		WHERE
			type=#{type}
		AND
			vnf_instance_id=#{vnf_instance_id}
		AND
			timestamp=#{timestamp}
	</select>

	<insert id="insertEvent" parameterType="java.util.HashMap">
		INSERT INTO cm_l_event
			(type, vnf_instance_id, timestamp, value)
		VALUES
			(#{type}, #{vnf_instance_id}, #{timestamp}, #{value})
	</insert>
	
	<delete id="deleteEvent" parameterType="java.util.HashMap">
		DELETE
		FROM
			cm_l_event
		WHERE
			type=#{type} 
			AND vnf_instance_id=#{vnf_instance_id}
			AND timestamp=#{timestamp}
	</delete>
</mapper>